.frame {
  background: #333333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 24px 24px 8px 24px;
  color: #fafafa;
}
.history-text {
  color: #888888;
  padding-bottom: 8px;
  line-height: 1.25;
}
.prompt-text {
  color: #fafafa;
  line-height: 1.25;
  padding: 8px 0 16px 0;
}
.prompt-opt {
  display: flex;
  list-style-type: none;
  background: #222;
  padding: 6px 12px;
  color: #888;
  font-size: 12px;
  border-radius: 12px;
  align-self: flex-start;
  margin-right: 8px;
}
.prompt {
  display: flex;
  padding: 0 16px;
  align-items: center;
  color: #777;
}
.prompt input {
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  background: #333333;
  color: #fafafa;
  outline: none;
  padding: 16px;
}
